body {
    margin: 0px;
    overflow: hidden;
}

#main {
    width: 200%;
    height: 100vh;
    position: relative;
    top: 0px;
    left: 0px;
}

#box1 {
    width: 50%;
    height: 100%;
    background: white;
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
}

#option {
    width: 70px;
    height: 130px;
    background: #23242a;
    position: fixed;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    border-radius: 35px;
    z-index: 9999;
}

#btn1,
#btn2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    font-family: arial black;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 40px;
}


.active {
    background: #ffffff;
}

#data {
    font-family: arial;
    font-size: 60px;
    color: #23242a;
    padding-bottom: 5px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
    margin-top: 300px;
    margin-left: 200px;
}

#msg {
    margin-left: 200px;
    margin-top: 10px;
    font-family: arial;
    font-size: 10px;
}

::placeholder {
    color: #23242a;
}

#outputbox {
    width: 400px;
    height: 50%;
    background: #868686;
    border-radius: 20px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .1);
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
}

#outputbox img {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






