<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link href="/backend_Web/static/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <title>Aprobado</title>
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
          Aprobado
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/main" class="btn btn-primary">Inicio</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
</body>
</html>