{% extends "base.html" %}

{% block tittlecontent %}
Registrar ALumno
{% endblock %}
<body>
{% block bodycontent %}
  <form class="form-register" method="POST" action="registrarAlumno">
    {{ form.csrf_token }}
    <h4>Registro de Alumno</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder=" Ingrese su Nombre">
    <input class="controls" type="text" name="patente" id="patente" placeholder="Ingrese Patente">
    <input class="controls" type="text" name="rut" id="rut" placeholder="Ingrese rut">
    <input class="controls" type="text" name="telefono" id="telefono" placeholder="Ingrese Numero">
    <label for="Carrera">Carreras: </label>
    <select class="controls" name="carrera" id="Carrera" >
        <option name="" aria-placeholder="Carreras">...</option> 
        <option name="administracionEmpresas">Administracion de Empresas</option>
        <option name="comercioExterior">Comercio Exterior</option>
        <option name="contabilidadExterior">Contabilidad General</option>
        <option name="contadorGeneral">Contador General</option>
        <option name="contadorPublico">Contador Publico</option>
    </select>
    <input type="radio" class="form-check-input" id="diurno" name="horario" value="diurno" checked>
      <label class="form-check-label" for="diurno">Diurno</label>
      <input type="radio" class="form-check-input" id="vespertino" name="horario" value="vespertino" checked>
      <label class="form-check-label" for="vespertino">Vespertino</label>
      {% with messages = get_flashed_messages(with_categories=True) %}

      {% if messages %}
      <br/>
      {% for category ,message in messages %}
      <br/>
      <div class="alert alert-{{category}}" role="alert">
        <strong>{{message}}</strong>
      </div>
      {% endfor %}
      {% endif %}

      {% endwith %}
    <p>Volver a la <a href="main">pagina principal</a></p>
    <input class="botons" type="submit" value="Registrar">
</form>

</body>
{% endblock %}