{% extends "base.html" %}

{% block tittlecontent %}
Registrar Funcionario
{% endblock %}
<body>
{% block bodycontent %}

  <form class="form-register" method="POST" action="registrarFuncionario">
    {{ form.csrf_token }}
    <h4>Registro de Funcionario</h4>
    <input class="controls" type="text" name="nombre" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="rut"  placeholder="Ingrese Patente">
    <input class="controls" type="text" name="numeroTelefonico"  placeholder="Ingrese rut">
    <input class="controls" type="text" name="patente"  placeholder="Ingrese numero telefonico">
    <label for="Cargos">Cargos: </label>
    <select class="controls" name="cargo">
      <option value="" name="">...</option>
      <option value="BasedeDatosNoRelacional">Base de datos no Relacional</option>
      <option value="programacionFronEnd">Programacion Front End</option>
      <option value="programacionBackEnd">Programacion Back End</option>
      <option value="BasedeDatosRelacional">Base de datos relacional</option>
      <option value="happitoGei">Happito Gay</option>
    </select>
      {% with messages = get_flashed_messages(with_categories=True) %}

      {% if messages %}
      <br/>
      {% for category ,message in messages %}
      <br/>
      <div class="alert alert-{{category}}" role="alert">
        <strong>{{message}}</strong>
      </div>
      {% endfor %}
      {% endif %}

      {% endwith %}
    <p>Volver a la  <a href="main">pagina principal</a></p>
    <input class="botons" type="submit" value="Registrar">

  </form>
</body>
{% endblock %}
