<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static', filename='css/alumno.css')}}">
  <link rel="stylesheet" href="/backend_Web/static/css/alumno.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <title>Registro de alumno</title>
</head>
<body>
  <form class="form-register" method="POST" action="registrarAlumno">
    {{ form.csrf_token }}
    <h4>Registro de Alumno</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder=" Ingrese su Nombre">
    <input class="controls" type="text" name="patente" id="patente" placeholder="Ingrese Patente">
    <input class="controls" type="text" name="rut" id="rut" placeholder="Ingrese rut">
    <input class="controls" type="text" name="telefono" id="telefono" placeholder="Ingrese Numero">
    <label for="Carrera">Carreras: </label>
    <select class="controls" name="carrera" id="Carrera" >
        <option name="" aria-placeholder="Carreras">...</option> 
        <option name="administracionEmpresas">Administracion de Empresas</option>
        <option name="comercioExterior">Comercio Exterior</option>
        <option name="contabilidadExterior">Contabilidad General</option>
        <option name="contadorGeneral">Contador General</option>
        <option name="contadorPublico">Contador Publico</option>
    </select>
    <input type="radio" class="form-check-input" id="diurno" name="horario" value="diurno" checked>
      <label class="form-check-label" for="diurno">Diurno</label>
      <input type="radio" class="form-check-input" id="vespertino" name="horario" value="vespertino" checked>
      <label class="form-check-label" for="vespertino">Vespertino</label>
      {% with messages = get_flashed_messages(with_categories=True) %}

      {% if messages %}
      <br/>
      {% for category ,message in messages %}
      <br/>
      <div class="alert alert-{{category}}" role="alert">
        <strong>{{message}}</strong>
      </div>
      {% endfor %}
      {% endif %}

      {% endwith %}
    <p>Volver a la <a href="main">pagina principal</a></p>
    <input class="botons" type="submit" value="Registrar">
</form>

</body>
</html>