
<body>

    <div id="main" style="left: -100%;">
        <div id="box1">
            <div id="outputbox">
                <img src="static/img/1920px-QR_code_for_mobile_English_Wikipedia.svg.png" alt="Test QR Code from Wikipedia">
            </div>
        </div>
        
        <div id="box2">
            <div id="scanner">
                <button class="btn btn-dark" id="stopbtn">Stop Scaning</button>
                <div id="startbtn">
                    <img src="static/img/descarga.svg" alt="A Video Icon">
                </div>

                <video id="preview" class="p-1 border" style="width: 400px;"></video>

                
				<form method="post">
                    {{ form.csrf_token }}
					<input type="text" name="dato" id="msg2" value="">
					<button type="submit" class="btn btn-success">SCAN</button>
				</form>

            </div>
        </div>
        
    </div>


    <div class="container">
        <div class="abs-center">
            <form action="#" class="border p-3 form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script src="static/js/app.js"></script>
</body>
</html>