<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/proyecto-estacionamiento/backend_Web/static/css/404.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/404.css')}}">
    <title>Error 404</title>
</head>
<body>
    <div class="container-404">
        <h1>Error 404</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab quidem necessitatibus illum voluptatibus suscipit delectus doloribus ex id vel nam? Asperiores neque facere libero amet optio laudantium consequuntur dignissimos porro!</p>
        <a href="/main" class="boton">
            Pagina Principal
        </a>

    </div>
</body>
</html>